:root {
    --colorTexto: #4E2E1E;
    --colorTextoSecundario: #C89F7E;
    --colorVerde: #A7B59F;
    --colorAcento: #FADADD;
    --colorTop: #F2D4D7;
    --colorFondo: #FFF6E8;
    --colorBlanco: #FFF;

    --fuentePrincipal: "Poppins", sans-serif;
    --fuenteTitulo: "Playfair Display", serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: var(--colorFondo);
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.layout {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

/*HEADER*/
.header__top {
    background-color: var(--colorTop);
}

.header__top__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__top__contenido a {
    color: var(--colorTexto);
}

.header__top__contacto {
    display: flex;
    gap: 2.5rem;
}

.header__top__redes a {
    font-size: 2.8rem;
}


.header__nav {
    background-color: var(--colorAcento);
}

.header__nav__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav .logo {
    height: 7rem;
}

.nav-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.nav-principal a {
    font-family: var(--fuenteTitulo);
    font-size: 2rem;
    color: var(--colorTexto);
    font-weight: 600;
    padding: 1.7rem 1.5rem;
    border-radius: 1rem;
    transition: all .3s ease;
}

.nav-principal a:hover {
    background-color: var(--colorTop);
    transform: translateY(-3px);
}

/* CATEGORIAS */

.categorias {
    margin-top: 4rem;
}

@media(min-width: 768px) {
    .categorias__contenido {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }    
}

.categoria {
    background-color: var(--colorBlanco);
    border-radius: 1rem;
    padding: 1.5rem;
    cursor: pointer;
    box-shadow:  0 0 .2rem 0 var(--colorTextoSecundario);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.categoria:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px var(--colorTexto);
}

.categoria img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    transition: transform 0.3s ease;
}

.categoria:hover img{
    transform: scale(1.05);
}

.categoria h3 {
    text-align: center;
    margin-bottom: .5rem;
}

.categoria .overlay {
    background-color: rgba(78, 46, 30, 0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    color: var(--colorBlanco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    transition: opacity 0.4s ease;
}

.categoria:hover .overlay{
    opacity: 1;
}

.categoria .overlay a {
    background-color: var(--colorVerde);
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    color: var(--colorBlanco);
}

/* REGISTRO*/
.registro {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.registro .registro__imagen {
    background-image: url('../img/registro.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.registro .registro__formulario {
    padding: 2rem;
}

/*FORM*/
 form {
    display: flex;
    flex-direction: column;
 }

 form .campo {
    margin-bottom: 1rem;
 }

 form label {
    display: block;
    font-weight: 700;
    color: var(--colorTexto);
 }

 form input:not([type="submit"]), form textarea, form select {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: .1rem solid var(--colorTextoSecundario);
    outline: none;
    transition: border .3s ease;
 }

 form input:not([type="submit"]):focus, form textarea:focus, form select:focus {
    border: .2rem solid var(--colorTexto);

 }

 form input[type="submit"] {
    margin: 1rem;
    border-radius: .5rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--colorTexto);
    color: var(--colorBlanco);
    cursor: pointer;
 }

/*FOOTER*/

footer {
    background-color: var(--colorTexto);
}